@import "../common/styles/sass/variables.scss";
@import "../common/styles/sass/mixins.scss";

.header {
    position: fixed;
    z-index: 9999;
    opacity: 0.9;
    width: 100%;
    min-height: 80px;
    @include flex(row, flex-end, center, nowrap);
    .logoImg {
        width: 60px;
        height: 70px;
        margin-left: 50px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @media screen and (max-width: 465px) {
            width: 30px;
            height: 35px;
        }
    }
}