.workBlock {
    border: 1px solid;
    width: 500px;
}

.imgBlock {
    width: 100%;
    height: 200px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    width: 100px;
    margin: 0 auto;
    background-color: #5d5c5c;
    text-align: center;
}

.title {
    background-color: gray;
    padding: 0 20px;
    box-sizing: border-box;
}

.description {
    background-color: gray;
    padding: 0 20px;
    box-sizing: border-box;
}

