@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.skillsBlock {
    @include flex(row, center, center, nowrap);
    .skillsContainer {
        @include container();
        @include flex(column, flex-start, center, wrap)
    }
    .skills {
        width: 100%;
        @include flex(row, space-between, normal, wrap);
        box-sizing: border-box;
        margin-bottom: 40px;
        @media screen and (max-width: 624px) {
            @include flex(row, center, normal, wrap);
        }
    }
}



