.distantWork {
    background-color: #f7f7f7;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container {
    flex-direction: column;
    border: 1px solid;
    min-height: 150px;
}
.text {
    background-color: #cecece;
    font-size: 30px;
}
.button {
    background-color: #b2b2b2;
    font-size: 20px;
}