@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.distantWork {
    background-color: $bgSecondaryColor;
    min-height: 30vh;
    @include flex(column, center, normal, nowrap);
    .container {
        @include container();
        @include flex(column, normal, center, wrap);
        min-height: 150px;
        margin-bottom: 10px;
    }
}


